# Configuration file

general {
    # The list of slab types and variants to ignore when creating double slabs
    # Example: minecraft:purpur_slab
    # Example: minecraft:stone_slab#variant=cobblestone
    S:"Slab Blacklist" <
     >
}


